<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <link rel="stylesheet" href="/styles/css/header.css">
    <link rel="stylesheet" href="/styles/css/books.css">
    <style>
        html,
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include ('./header.ejs');%>
    <!-- breadcrumb -->
    <div class="books">

        <ul class="breadcrumb">
            <li>
                / <%= version.abbreviation %>
            </li>
        </ul>

        <!-- books -->

        <div class="book-title"> Select a book</div>

        <div class="book">
            <% books.forEach(e=>{ %>
            <!-- Book component -->
            <a class="book-box" href="/<%= version.id %>/books/<%= e.id %>">
                <p class="book-name">
                    <%= e.name %>
                </p>

                <div class="book-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </div>
            </a>
            <% }) %>
        </div>
        <!-- Footer -->
        <%- include ('./footer.ejs');%>
    </div>

    <script>
        const temp = '<%- JSON.stringify(books) %>';
        const books = JSON.parse(temp);
        const bibleId = books[0].bibleId;

        let header = document.getElementsByClassName('header-container')[0];

        //header element
        const headerForm = document.createElement('form');
        headerForm.action = `/${bibleId}/search`;
        headerForm.method = 'GET';
        headerForm.className = 'header-form';
        headerForm.onsubmit = 'handleSubmit';

        //input element
        const headerInput = document.createElement('input');
        headerInput.type = 'text';
        headerInput.className = 'header-input';
        headerInput.placeholder = 'Search...';
        headerInput.name = 'query';

        headerForm.appendChild(headerInput);
        header.appendChild(headerForm);

    </script>
</body>

</html>