<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <link rel="stylesheet" href="/styles/css/header.css">
    <link rel="stylesheet" href="/styles/css/chapters.css">
    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include ('components/header.ejs'); %>

        <div class="chapters">

            <ul class="breadcrumb">
                <li>
                    <a href="/<%= chapters[0].bibleId%>">
                        / <%= version %>
                    </a>
                </li>

                <li>
                    &nbsp;/ <%= bookId %>
                </li>

            </ul>

            <div class="chapter-title"> Select a Chapter</div>

            <!-- Chapters -->
            <div class="chapter-box">
                <% chapters.forEach(e=>{ %>
                    <!-- Chapter component -->
                    <a class="chapter" href="/<%= chapters[0].bibleId%>/chapters/<%= e.id %>  ">
                        <p class="chapter-number">
                            <%= e.number %>
                        </p>
                    </a>
                    <% }) %>
            </div>
        </div>

        <script>
            const temp = '<%- JSON.stringify(chapters) %>';
            const chapters= JSON.parse(temp);
            const bibleId = chapters[0].bibleId;

            let header = document.getElementsByClassName('header-container')[0];

            //header element
            const headerForm = document.createElement('form');
            headerForm.action = `/${bibleId}/search`;
            headerForm.method = 'GET';
            headerForm.className = 'header-form';
            headerForm.onsubmit = 'handleSubmit';

            //input element
            const headerInput = document.createElement('input');
            headerInput.type = 'text';
            headerInput.className = 'header-input';
            headerInput.placeholder = 'Search...';
            headerInput.name = 'query';

            headerForm.appendChild(headerInput);
            header.appendChild(headerForm);

        </script>
</body>

</html>