<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/css/home.css">

    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body onload="changeImage()">
    <!-- Header -->
    <%- include ('./header.ejs');%>

    <!-- Image -->
    <div class="home-image" id='home-image'>
        <!-- Verse of the day -->
        <div class="home-verse">
            <p class="home-verse-title">Verse of the Day</p>
            <p class="home-verse-text">
                <!-- < const text=verse.text.replace('</p>','') %> -->
                <% const text = verse?.text %>
                <%= text %>
            </p>
            <p class="home-verse-chapter">
                - <%= verse.bookname %>
                <%= verse.chapter %> : <%= verse.verse %>
            </p>
        </div>
    </div>


    <!-- Books -->
    <div class="home-bible-box">
        <div class="home-bible-title"> Select a Bible </div>

        <div class="home-bible-versions">
            <% const temp = JSON.stringify(bibles) %>
            <% const engBible=JSON.parse(temp) %>
            <% engBible.forEach(e=> { %>

            <!-- version -->
            <a class="home-bible-version" href="<%= e.id %>">
                <div class="home-bible-version-box">
                    <p class="version-abbr">
                        <%= e.abbreviationLocal%>
                    </p>
                    <p class="version-name">
                        <%= e.name%>
                    </p>
                </div>
                <button class="version-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>
            </a>
            <%}) %>
        </div>
    </div>

    <!-- footer -->
    <%- include ('./footer.ejs') %>
</body>

<script type="text/javascript">
    //create images on page load
    var image = document.getElementById('home-image');

    function changeImage() {
        const random = new Date().getSeconds();
        const index = random % 10 + 1;//
        image.style.backgroundImage = `linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8)),url('images/${index}.jpeg')`;
    }
</script>

</html>