<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/bibleVersionCard.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/header.css">

    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include ('components/Header.ejs');%>

        <!-- Image -->
        <div class="home-image">

            <!-- Verse of the day -->
            <div class="home-verse">

                <p class="home-verse-text">
                    <% const text=verse.text.replace('</p>','') %>
                        <%= text %>
                </p>
                <p class="home-verse-chapter">
                    - <%= verse.bookname %>
                        <%= verse.chapter %> : <%= verse.verse %>
                </p>
            </div>
        </div>


        <!-- Books -->
        <div class="home-bible-versions">
            <% const engBible=JSON.parse(bbData) %>
                <% engBible.forEach(e=> { %>

                    <!-- bookComponent -->
                    <div class="bible-version-book">
                        <p class="bible-version-abbr"></p>
                    </div>
                    <%= e.name %>
                    <%}) %>
        </div>
</body>

<script type="text/javascript">
    const data = '<%- bbData %>'
    const engBible = JSON.parse(data);
    console.log(engBible);

    // const bibleVersion = ${'.bible-version'}.
</script>

</html>