<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <link rel="stylesheet" href="/styles/css/search.css">
    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        p {
            margin: 0;
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include ('./header.ejs');%>

    <div class="search">

        <p class="search-query">
            Results for "<%= results.query %>"
        </p>

        <p class="search-number" id="search-number">

        </p>


        <div class="search-box" id="search-box">

        </div>

        <div class="search-page-buttons">
            <button id="search-pre-button" class="search-page-button" onclick="getList('pre')">
                Previous Page
            </button>
            <button id="search-next-button" class="search-page-button" onclick="getList('next')">
                Next Page
            </button>
        </div>
    </div>

    <!-- Footer -->
    <%- include ('./footer.ejs');%>

    <script>
        //header search bar
        //header element
        const temp2 = '<%- JSON.stringify(bibleId) %>';
        const bibleId = JSON.parse(temp2);

        let header = document.getElementsByClassName('header-container')[0];

        const headerForm = document.createElement('form');
        headerForm.action = `/${bibleId}/search`;
        headerForm.method = 'GET';
        headerForm.className = 'header-form';
        headerForm.onsubmit = 'handleSubmit';

        //input element
        const headerInput = document.createElement('input');
        headerInput.type = 'text';
        headerInput.className = 'header-input';
        headerInput.placeholder = 'Search...';
        headerInput.name = 'query';

        headerForm.appendChild(headerInput);
        header.appendChild(headerForm);



        //Pagination
        const temp = '<%- JSON.stringify(results) %>';
        const list = JSON.parse(temp).verses;

        const resultsPerPage = 10;
        const totalPages = list.length % 10 > 0 ? Math.floor(list.length / 10) + 1 : list.length / 10;

        //Render List
        let index = 1;
        function getList(dir) {

            if (dir === 'next') {
                index++;
            } else if (dir === 'pre') {
                index--;
            }

            const searchBox = document.getElementById('search-box');
            while (searchBox.firstChild) {
                searchBox.removeChild(searchBox.firstChild);
            }

            //1. render currentList
            //loop            
            let currentList;

            if (list.length <= 10) {
                currentList = list;
            } else {
                currentList = list.slice((index - 1) * resultsPerPage, index * resultsPerPage);
            }

            currentList.forEach(e => {
                //Create element
                const searchContent = document.createElement('div');
                const searchTitle = document.createElement('p');
                const searchText = document.createElement('p');
                const searchButton = document.createElement('a');
                const searchSVG = document.createElementNS("http://www.w3.org/2000/svg", 'svg');
                const searchPath = document.createElementNS("http://www.w3.org/2000/svg", 'path');

                //Add className
                searchContent.className = 'search-content';
                searchTitle.className = 'search-title';
                searchText.className = 'search-text';
                searchButton.className = 'search-button';

                //innerhtml
                searchTitle.innerHTML = e.reference;
                searchText.innerHTML = e.text;
                searchButton.innerHTML = 'VIEW CHAPTER';
                searchButton.href = `/${bibleId}/chapters/${e.chapterId}`;

                //SVG
                searchSVG.setAttributeNS(null, 'fill', 'currentColor');
                searchSVG.setAttributeNS(null, 'width', '20');
                searchSVG.setAttributeNS(null, 'height', '20');
                searchSVG.setAttributeNS(null, 'viewBox', '0 0 16 16');

                //Path
                searchPath.setAttributeNS(null, 'full-rule', 'evenodd');
                searchPath.setAttributeNS(null, 'd', 'M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z');

                //combine
                searchSVG.appendChild(searchPath);
                searchButton.appendChild(searchSVG);

                searchContent.appendChild(searchTitle);
                searchContent.appendChild(searchText);
                searchContent.appendChild(searchButton);

                searchBox.appendChild(searchContent);
            })
            //2. set text 
            const searchNumber = document.getElementById('search-number');
            if (list.length <= 10) {
                searchNumber.innerHTML = `Showing ${currentList.length} of ${list.length} results`;
            } else {
                searchNumber.innerHTML = `Showing ${(index - 1) * resultsPerPage + 1} - ${(index - 1) * resultsPerPage + currentList.length} of ${list.length} results`;
            }


            //3. set button 
            const searchPreBtn = document.getElementById('search-pre-button');
            const searchNextBtn = document.getElementById('search-next-button');

            if (list.length <= 10) {
                searchPreBtn.className = 'search-page-button';
                searchPreBtn.disabled = true;
                searchNextBtn.className = 'search-page-button';
                searchNextBtn.disabled = true;
            } else {
                if (index == 1) {
                    searchPreBtn.className = 'search-page-button';
                    searchPreBtn.disabled = true;
                } else {
                    searchPreBtn.className = 'search-page-button active';
                    searchPreBtn.disabled = false;
                }

                if (index == totalPages) {
                    searchNextBtn.className = 'search-page-button';
                    searchNextBtn.disabled = true;
                } else {
                    searchNextBtn.className = 'search-page-button active';
                    searchNextBtn.disabled = false;
                }
            }
        }

        //default;
        getList('default');
    </script>
</body>

</html>