<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/verses.css">
    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <%- include ('components/header.ejs');%>

        <div class="verses">

            <ul class="breadcrumb">
                <li>
                    <a href="/<%= totalVerses[0].bibleId%>">
                        / <%= version%>
                    </a>
                </li>

                <li>
                    <a href="/<%= totalVerses[0].bibleId%>/books/<%= bookId %> ">
                        &nbsp;/ <%= bookId %>
                    </a>
                </li>

                <li>
                    &nbsp;/ <%= number %>
                </li>
            </ul>

            <div class="verse-title"> Select a Verse</div>

            <!-- verses -->
            <div class="verse-box">
                <% totalVerses.forEach((e,index)=>{ %>
                    <!-- verse component -->
                    <button class="verse-button" onclick="popVerse('<%= index+1 %>')">
                        <%= index + 1%>
                    </button>
                    <% }) %>
            </div>

            <!-- single verse -->
            <% totalVerses.forEach((e,index)=>{ %>
                <div class="single-verse" id="single-verse-<%= index+1 %>" style="display:none"
                    onclick="popVerse('<%= index+1 %>')">
                    <div class="single-verse-box">
                        <p class="single-verse-text">
                            <%= index+1 %>
                                <%= singleVerses[index] %>
                        </p>
                        <p class="single-verse-ref">
                            <%= e.reference %>
                        </p>
                    </div>
                </div>
                <% })%>

                    <!-- verse content -->
                    <div class="verse-content">
                        <p>Read Paragraph</p>
                        <% paragraphs.forEach(e=>{ %>
                            <p class="verse-text">
                                &nbsp;&nbsp;&nbsp;&nbsp;<%= e %>
                            </p>
                            <% }) %>
                    </div>

                    <script>
                        const tv = '<%- JSON.stringify(totalVerses) %>';
                        const totalVerses = JSON.parse(tv);//

                        function popVerse(verseIndex) {
                            // console.log(verseIndex);
                            const singleVerse = document.getElementById(`single-verse-${verseIndex}`);
                            if (singleVerse.style.display === 'none') {
                                singleVerse.style.display = 'block';
                            } else {
                                singleVerse.style.display = 'none';
                            }
                        }

                        const bibleId = totalVerses[0].bibleId;

                        let header = document.getElementsByClassName('header-container')[0];

                        //header element
                        const headerForm = document.createElement('form');
                        headerForm.action = `/${bibleId}/search`;
                        headerForm.method = 'GET';
                        headerForm.className = 'header-form';
                        headerForm.onsubmit = 'handleSubmit';

                        //input element
                        const headerInput = document.createElement('input');
                        headerInput.type = 'text';
                        headerInput.className = 'header-input';
                        headerInput.placeholder = 'Search...';
                        headerInput.name = 'query';

                        headerForm.appendChild(headerInput);
                        header.appendChild(headerForm);


                    </script>
</body>

</html>